{% extends "base.html" %}

{% block content %}

<div style="width:500px;margin: 30px auto 0 auto;">

<h1>Contact information</h1>

<p>Admonymous is maintained by <a href="mailto:eloise.rosen+admonymous@gmail.com">Eloise Rosen</a> 
	(<a href="http://www.admonymous.co/eloise">anonymously admonish and admire</a>).
</p>

<p>Admonymous was originally conceived and created by <a href="mailto:yonidonner@gmail.com">Yoni Donner</a> (<a href="http://www.admonymous.co/yoni">anonymously admonish and admire</a>) and <a href="mailto:nevin.freeman@gmail.com">Nevin Freeman</a> (<a href="http://www.admonymous.co/nevin">anonymously admonish and admire</a>).
</p>

<p>Leave feedback by <a href="http://www.admonymous.co/feedback">leaving an admonition or admiration for Admonymous itself!</a></p> 

</div>

{% endblock %}

