{% extends "base.html" %}

{% block top_menu %}
{% if user %}
  {% include "topmenu.html" %}
{% endif %}
{% endblock %}

{% block content %}

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('input#delete-account').click(function() {
      if (confirm('Are you sure you want to delete your username? This won\'t affect your Google account, but will delete all of the admonitions people have left for you.')) {
        window.location = "/delete_username";
      }
    });
    $('a#delete-response').click(function() {
      if (confirm('Are you sure you want to delete this admonition?')) {
        var response_id = parseInt($(this).attr("response_id"));
        window.location = "/delete_admonition?id="+response_id;
      }
    });
  });
</script>

{% if not user %}
<!-- <h1>Admonymous</h1> -->

  <div style="padding:40px 0 30px 0;text-align:left;width:980px;margin-left:auto;margin-right:auto;">
    
    <img src="/static/images/Admonymous_logo.png" width="983" height="150" style="margin-left:auto;margin-right:auto;"/>
    
    <div id="signup-bar" class="well">
      <a href="/login" target="_blank" class="btn nodecorate primary float-right large">Log in with your Google account</a>
      Leave anonymous admonition and admiration for your friends and coworkers.
    </div>
    
    <div id="example-admonitions">
      <div class="span5">
        &ldquo;The sound you make when you enjoy your food is adorable, but probably not working for you during business lunches.&rdquo;
      </div>
      <div class="span5">
        &ldquo;You&rsquo;ve said so many times that it's important to you not to skip Physics class, but you weren&rsquo;t there again today &ndash; this is just a heads up to keep you thinking!&rdquo;
      </div>
      <div class="span4">
        &ldquo;I really appreciated your new approach to keeping the group on track today, stick with it!&rdquo;
      </div>
    </div>
    
    <div style="clear:both;height:45px;"></div>
    <hr/>
    
    <div id="definition">
      <h3><strong>Admonition</strong> (plural admonitions): Gentle or friendly reproof; counseling against fault or oversight; warning.</h3>
      <br/>

      <p>Constructive criticism is beneficial to both giver and recipient, but the fact that people often can't deliver negative (and sometimes positive!) feedback without social risk discourages the behavior.</p>

      <p>Admonymous allows people to anonymously admonish and admire their friends and acquaintances. All you need to do in order to let others admonish and admire you is <a href="/login" target="_blank">sign up</a> and publish the admonition link where people can see it, like in your email signature or on your Faceboook account. By becoming aware of your blind spots, you will be more able to address them.</p>

      <p>Giving and receiving good feedback isn't easy. For some suggestions, take a look at our <a href="/suggestions" target="_new">Suggestions and FAQ</a>.</p>
    </div>
    
    <div style="text-align:center;padding:0 0 50px 0;">
      <a href="/">Home</a> | <a href="/suggestions">Suggestions and FAQ</a> | <a href="/contact">Contact</a> | <a href="/login" target="_blank">Log in</a>
    </div>
    
  </div>
{% else %}
    {% if user.username %}
    <div style="padding:0 22px;">
      
      {% if responses %}
        {% for response in responses %}
          <div class="response">

            <div class="response-meta">
              <span style="font-weight:bold;">{{ response.create_date|date:"l n.j.y" }}</span><br/>
              <span style="color:#666;">{{ response.author|default_if_none:"anonymous" }}</span>
            </div>
            <div class="response-body">
              <a class="btn small" id="delete-response" response_id="{{ response.response_id }}" style="float:right;margin:0 0 10px 10px;">delete </a>
              {{ response.body }}
            </div>
          </div>
        {% endfor %}
        <div class="alert-message block-message info" style="text-align:center;">
  	If you don't feel right at home receiving direct admonition, please take a minute to read <a href="/suggestions?receiving" target="_new">some suggestions</a>.
        </div>
      {% else %}
        <h1>Welcome!</h1>
        <div class="alert-message block-message info">
          You don't have any admonitions yet. <br/>

          Your URL is:<br/>
          <pre style="margin:10px 0;"><a href="http://www.admonymous.com/{{ user.username }}">http://www.admonymous.com/{{ user.username }}</a></pre>

          You can print <a href="/print" target="_new">this announcement</a>, or ask for feedback online: <a target="twitter" href="http://twitter.com/home?status=Soliciting constructive criticism: http://www.admonymous.com/{{ user.username }}">Solicit constructive criticism via Twitter</a>
        </div>
      {% endif %}
    </div>

    

      
    {% if newer_offset or older_offset %}
    <div class="pagination" style="padding:0 20px;">
      <ul>
        <li class="prev{% if not older_offset %} disabled{% endif %}"><a href="?offset={{ older_offset }}">&larr; Previous</a></li>
        {# <li class="active"><a href="#">1</a></li> #}
        {# <li><a href="#">2</a></li> #}
        {# <li><a href="#">3</a></li> #}
        {# <li><a href="#">4</a></li> #}
        {# <li><a href="#">5</a></li> #}
        <li class="next{% if not newer_offset %} disabled{% endif %}"><a href="?offset={{ newer_offset }}">Next &rarr;</a></li>
      </ul>
    </div>
    {% else %}
    <br/>
    {% endif %}

    <hr/>
    
    
    <input type="submit" class="btn danger" name="submit" value="Delete user account" id="delete-account" style="float:right;margin:23px 20px 0 0;"/>
    
  	<form action="/" method="post" accept-charset="utf-8" class="form-stacked">
  	  <strong>Update your note to visitors and/or user info:</strong>
  	  <fieldset>
  	    {% if username_taken %}
  	    <br/>
        <div class="alert-message error" style="width:469px;">
          Sorry, the username <strong>{{ username_taken }}</strong> is not available.
        </div>
        {% endif %}
        {% if success %}
  	    <br/>
        <div class="alert-message success" style="width:469px;">
          Updated! Make sure to tell your friends when you change your username.
        </div>
        {% endif %}
        <textarea name="message" style="width:502px;height:75px;margin:0 0 4px 0;">{{ user.message|default_if_none:"" }}</textarea><br/>
        <input name="name" value="{{ user.name }}" style="height:29px;"/>
        <input name="username" value="{{ user.username }}" style="height:29px;"/>
        <input type="submit" class="btn secondary" name="submit" value="Change" id="submit"/>
  	  </fieldset>
    </form>
    
  {% else %}
    
    <div style="width:502px;margin-left:auto;margin-right:auto;padding:40px 0 30px 0;">
      <form action="/" method="post" accept-charset="utf-8" class="form-stacked">
    	  {# <strong>Update your public message and user info:</strong> #}
    	  <fieldset>
    	    {% if username_taken %}
    	    <br/>
          <div class="alert-message error" style="width:469px;">
            Sorry, the username <strong>{{ username_taken }}</strong> is not available.
          </div>
          {% endif %}
          <label for="name">Your full name</label>
          <input name="name" value="{{ user.name|default_if_none:"" }}" style="height:29px;"/><br/>
          <label for="username">Pick a username</label>
          <input name="username" value="{{ user.username|default_if_none:"" }}" style="height:29px;"/><br/><br/>
          <label for="message">Write a brief note to tell people what kind of feedback you want (optional):</label>
          <textarea name="message" style="width:502px;height:75px;margin:0 0 4px 0;">{{ user.message|default_if_none:"" }}</textarea><br/><br/>
          <input type="submit" class="btn secondary" name="submit" value="Begin" id="submit" style="float:right;"/>
    	  </fieldset>
      </form>
    </div>
    
  {% endif %}
  
{% endif %}  
{% endblock %}

